@font-face {
    font-family: IranYekanWeb;
    src: url('/assets/fonts/IranYekanWeb/eot/iranyekanwebbold.eot');
    src: url('/assets/fonts/IranYekanWeb/eot/iranyekanwebbold.eot?#iefix') format("embedded-opentype"), 
         url('/assets/fonts/IranYekanWeb/woff/iranyekanwebbold.woff') format("woff"),
         url('/assets/fonts/IranYekanWeb/ttf/iranyekanwebbold.ttf') format("truetype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: IranYekanWeb;
    src: url('/assets/fonts/IranYekanWeb/eot/iranyekanwebthin.eot');
    src: url('/assets/fonts/IranYekanWeb/eot/iranyekanwebthin.eot?#iefix') format("embedded-opentype"),
         url('/assets/fonts/IranYekanWeb/woff/iranyekanwebthin.woff') format("woff"),
         url('/assets/fonts/IranYekanWeb/ttf/iranyekanwebthin.ttf') format("truetype");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: IranYekanWeb;
    src: url('/assets/fonts/IranYekanWeb/eot/iranyekanweblight.eot');
    src: url('/assets/fonts/IranYekanWeb/eot/iranyekanweblight.eot?#iefix') format("embedded-opentype"),
         url('/assets/fonts/IranYekanWeb/woff/iranyekanweblight.woff') format("woff"), 
         url('/assets/fonts/IranYekanWeb/ttf/iranyekanweblight.ttf') format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: IranYekanWeb;
    src: url('/assets/fonts/IranYekanWeb/eot/iranyekanwebregular.eot');
    src: url('/assets/fonts/IranYekanWeb/eot/iranyekanwebregular.eot?#iefix') format("embedded-opentype"),
         url('/assets/fonts/IranYekanWeb/woff/iranyekanwebregular.woff') format("woff"),
         url('/assets/fonts/IranYekanWeb/ttf/iranyekanwebregular.ttf') format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: IranYekanWeb;
    src: url('/assets/fonts/IranYekanWeb/eot/iranyekanwebmedium.eot');
    src: url('/assets/fonts/IranYekanWeb/eot/iranyekanwebmedium.eot?#iefix') format("embedded-opentype"), 
         url('/assets/fonts/IranYekanWeb/woff/iranyekanwebmedium.woff') format("woff"),
         url('/assets/fonts/IranYekanWeb/ttf/iranyekanwebmedium.ttf') format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: IranYekanWeb;
    src: url('/assets/fonts/IranYekanWeb/eot/iranyekanwebbold.eot');
    src: url('/assets/fonts/IranYekanWeb/eot/iranyekanwebbold.eot?#iefix') format("embedded-opentype"), 
         url('/assets/fonts/IranYekanWeb/woff/iranyekanwebbold.woff') format("woff"), 
         url('/assets/fonts/IranYekanWeb/ttf/iranyekanwebbold.ttf') format("truetype");
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: IranYekanWeb;
    src: url('/assets/fonts/IranYekanWeb/eot/iranyekanwebblack.eot');
    src: url('/assets/fonts/IranYekanWeb/eot/iranyekanwebblack.eot?#iefix') format("embedded-opentype"), 
         url('/assets/fonts/IranYekanWeb/woff/iranyekanwebblack.woff') format("woff"), 
         url('/assets/fonts/IranYekanWeb/ttf/iranyekanwebblack.ttf') format("truetype");
    font-weight: 850;
    font-style: normal;
}
@font-face {
    font-family: IranYekanWeb;
    src: url('/assets/fonts/IranYekanWeb/eot/iranyekanwebextrabold.eot');
    src: url('/assets/fonts/IranYekanWeb/eot/iranyekanwebextrabold.eot/?#iefix') format("embedded-opentype"),
         url('/assets/fonts/IranYekanWeb/woff/iranyekanwebextrablack.woff') format("woff"),
         url('/assets/fonts/IranYekanWeb/ttf/iranyekanwebextrablack.ttf') format("truetype");
    font-weight: 900;
    font-style: normal;
}
